.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
   padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
body{
    font-family: Arial, sans-serif;
    background-color: #eeeef0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 270px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
    border: solid rgb(162, 159, 159) 1px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
 
}
.addexp{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color:rgb(165, 166, 168);
    box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
    color: white;
}
.addexp:hover{
    background-color: rgb(220, 221, 223);
    color: black;
}
.group{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    position: absolute;
    left: -240px;
    top: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.editb{
    margin-top: 5px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    background-color:rgb(165, 166, 168);
    color: white;
}
.editb:hover{
    background-color: rgb(220, 221, 223);
    color: black;
}
.budget{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.group2{
    position: absolute;
    left: -230px;
    top: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    

}
.newBudgetInput{
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    
}
.inn{
    width: 140px;
    height: 28px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
    background-color:rgb(165, 166, 168);
    color: white;
}
.inn:hover{
    background-color: rgb(220, 221, 223);
    color: black; 
}
.expenses-container{
   
    display: flex;
    margin-top: 100px;
    background-color: rgb(165, 166, 168);
    width: 900px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 8px;
    color: white;

   

}
.last{
    width: 900px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
    
    background-color: rgb(213, 213, 213);
}
.o{
    width:225px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.bb{
    margin-top: 5px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    background-color:rgb(243, 63, 63);
    color: rgb(255, 255, 255);
}
.bb:hover{
    background-color:rgb(251, 145, 145) ;
    color: black;
}

